<a href="https://colab.research.google.com/github/623021002-7/data_viz_2022/blob/main/Basic_Programming_Concepts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functions ($f(x) = y$)

```python
def function_name(input_x):
    # do something with input_x to get output_y
    return output_y
```

$f_1(x)=x^2 + 75$

In [12]:
def function_f1(x):
  a=x**2
  y = a + 75 
  return y

In [19]:
function_f1(3)

84

function มีส่วนสำคัญทั้งหมด 4 ส่วน

1. บอก python ว่าเราจะเขียนฟังก์ชั่น ชื่ออะไร  `def function_name()`: (ขาดไม่ได้)
2. กำหนดตัวแปรที่จะเป็น input  _Input_ (ขาดได้)
3. ส่วนประมวลผล do_something with _Input_ to get _Output_ (ขาดไม่ได้)
4. ส่วน output `return` _Output_(ขาดได้)

### ตัวอย่าง function ที่มีส่วนประกอบ

In [13]:
def function_f1(x):
  a=x**2
  y = a + 75 
  return y

### ตัวอย่าง function ที่ไม่มี input

In [20]:
def pi_v():
    y = 3.14159265359
    return y

In [21]:
piv = pi_v()
circle_area_r2 = piv*(2**2)
print(circle_area_r2)

12.56637061436

### Function ไม่มี process ไม่ได้

In [22]:
def function_a():

SyntaxError: ignored

ตัวอย่าง Function ที่ไม่มี output

In [23]:
def print_name_id(name,id):
    print(f'ชื่อ {name} รหัสประจำตัว {id}')

In [24]:
print_name_id('ณัฐธิดา','623020435-1')

ชื่อ ณัฐธิดา รหัสประจำตัว 623020435-1

In [25]:
a = print_name_id('ณัฐธิดา','623020435-1')

ชื่อ ณัฐธิดา รหัสประจำตัว 623020435-1

In [26]:
a

ตัวอย่าง function `print` https://www.programiz.com/python-programming/methods/built-in/print

In [27]:
print('ณัฐธิดา')
print('623020435-1')

ณัฐธิดา
623020435-1

In [29]:
print('ณัฐธิดา',end='->')
print('623020435-1')

ณัฐธิดา->623020435-1

In [30]:
print('ณัฐธิดา','623020435-1')

ณัฐธิดา 623020435-1

In [31]:
print('ณัฐธิดา','623020435-1',sep=' & ')

ณัฐธิดา & 623020435-1

## input ของ function แบ่งเป็น 2 ชนิด (จำเป็นต้องใส่ กับ ไม่จำเป็นต้องใส่)

ตัวอย่าง function `print_grade()` มี input 3 ตัว จำเป็นต้องใส่ 2 ตัว คือ name กับ id และไม่จำเป็นต้องใส่ 1 ตัว คือเกรด ซึ่งมีค่า default เป็น F

In [34]:
def print_grade(name,id,grade ='F'):
    print(f'รหัสประจำตัว {id} ชื่อ {name}')
    print(f'ได้เกรด {grade}')

In [35]:
print_grade('นายสิทธัตกะ จรัสแสง','623020541-2')

รหัสประจำตัว 623020541-2 ชื่อ นายสิทธัตกะ จรัสแสง
ได้เกรด F

In [36]:
print_grade('นายสิทธัตกะ จรัสแสง','623020541-2','A')

รหัสประจำตัว 623020541-2 ชื่อ นายสิทธัตกะ จรัสแสง
ได้เกรด A

In [38]:
print_grade(id='623020541-2',name='นายสิทธัตกะ จรัสแสง',grade='B+')

รหัสประจำตัว 623020541-2 ชื่อ นายสิทธัตกะ จรัสแสง
ได้เกรด B+

# Looping (for)

# Conditional Statement (if)